@media screen and (min-width: 768px) { 
    .container { 
        max-width: 768px;
    }


    :root {
        --main-head-color: #2E2F42;
        --contact-color: #434455;
        --accent-color: #404BBF;
        --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
    
    
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .mob.nav.btn,
    .js-open-menu {
        display: none;
    }


    .header-list{
        display: flex;
        gap: 40px;
    }


    .header-container{
        display: flex;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
        justify-content: space-between;
    }

    .header-link:active {
        color: var(--accent-color);
    }

    .contact-item {
        display: block;
        padding-left: 121px;
    }

    .contact-tel {
        font-size: 12px;
        font-style: normal;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: var(--contact-color);
        gap: 40px;
        font-weight: 400;
    }

    .contact-tel:active {
        color: var(--accent-color);
    }

    .contact-mail {
        font-size: 12px;
        font-style: normal;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: var(--contact-color);
        gap: 40px;
        font-weight: 400;
    }

    .hero {
        background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)
            ), 
            url(../images/people-office.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media (min-device-pixel-ratio: 2), 
    (min-resolution: 192px), 
    (min-resolution: 2ddpx) {
    .hero {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
        url(../images/tab-hero.jpg);
    }
}


    .hero-head {
        font-size: 54px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        width: 496px;
    }

    .hero-btn {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        background-color: var(--accent-color);
        color: #FFFFFF;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 16px 32px;
        border: transparent;
    }   
    
    .hero-btn:active {
        background: var(--accent-color);
        color: #FFFFFF;
    } 




    .main-head-second {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--main-head-color);
        margin-bottom: 76px;
    }




    .main-head-three {
        font-family: 'Roboto';
        display: flex;
        justify-content: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }

    .main-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
        display: contents;
    }

    .strategies-item {
        width: calc((100% - 24px) / 2);
    }

    .strategies-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;

    }

    .team-head-three {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    .team-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .our-team,
    .customers {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .our-team-item {
        width: calc((100% - 24px) / 2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .our-team-sizes {
        text-align: center;
        background: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        padding: 32px 16px;
    }

    .our-team-list {
        display: flex;
        gap: 24px;
    }

    .team-social-link:is(:active) {
        background-color: #404BBF;
    }

    .team-social-icon {
        fill: currentColor;
    }


    .customers-link:active {
        color: #404BBF;
        border: 1px solid #404BBF
    }

    .footer-display .container {
        max-width: 565px;
    }

    .footer-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        margin-bottom: 0;
    }
    
    .footer-display {
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap;
        max-width: 565px;
        gap: 24px;
        /* padding-left: 108px; */
    }

    .footer-social-media {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline;
        /* margin-top: 96px; */
    }


    .footer-social-link:is(:active) {
        background-color: #31D0AA;
    }
    .footer-social-icon {
        fill: currentColor
    }
    


    .footer-subs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: baseline
    }
    
    .footer-form {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    /* .footer-form-input {
        width: 264px;
        margin-right: 24px;
        margin-bottom: 0;
    } */

    .footer-input {
        width: 100%; 
        max-width: 398px;
    }

    .footer-form-input {
        width: 264px;
        height: 40px;
        opacity: 0.3;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-bottom: 0;
        margin-right: 24px;
    }

    .footer-btn:active {
        background: var(--accent-color);
        color: #FFFFFF;
    } 



    .team-social-link:is(:active) {
        background-color: #404BBF;
        }




    .modal {
        width: 408px;
        min-height: 586px;
        padding-top: 72px;
        padding-right: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        background: #fcfcfc;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform var(--transition-dur-and-func);
    }
    .modal-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        background: #E7E9FC;
        transition: border-color var(--transition-dur-and-func);
        cursor: pointer;
    }


    
    
    
    
    .modal-close-btn:active {
        border-color: #4D5AE5;
        background-color: #4D5AE5;
    }
    
    
    .modal-close-btn-icon {
        transition: fill var(--transition-dur-and-func);
    }
    
    .modal-close-btn:active .modal-close-btn-icon {
        fill: #FFFFFF;
    }



    .form-btn:active {
        background: var(--accent-color);
        color: #FFFFFF;
    } 


    .form-input:active {
        color: #4D5AE5;
    }
    .form-input:active + .form-icon{
        fill: #4D5AE5;
    }
    .form-group input:active {
        border-color: #4D5AE5;
        outline: none;
      }
    .form-group input:active::placeholder {
        color: #4D5AE5;
    }


    .form-text-area:active {
        fill: #4D5AE5;
    }    
    
    .form-text-area:active::placeholder {
        color: #4D5AE5;
    }
    
    .form-group textarea:active {
        border-color: #4D5AE5;
        outline: none;
    }


    .form-label-checkbox:active {
        border-color: #404BBF;
    }
    


    

    


@media  screen and (min-width: 768px), (max-width: 1199px) {
    .container-sm {
        max-width: 582px;
    }
}



}
    
    

